/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/helpers/_basic.scss */
body {
  font-family: 'Oswald', sans-serif;
  line-height: 1;
}

/* line 6, ../sass/helpers/_basic.scss */
p {
  font-family: 'Oswald', sans-serif;
  color: #8b8b8b;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 6, ../sass/helpers/_basic.scss */
  p {
    text-align: left;
    font-size: 14px;
  }
}
/* line 18, ../sass/helpers/_basic.scss */
p span {
  color: #8b8b8b;
}

/* line 23, ../sass/helpers/_basic.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
/* line 25, ../sass/helpers/_basic.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 600;
}

/* line 31, ../sass/helpers/_basic.scss */
h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  /* line 31, ../sass/helpers/_basic.scss */
  h1 {
    font-size: 18px;
  }
}
/* line 42, ../sass/helpers/_basic.scss */
h1 span {
  color: #b5c21c;
}

/* line 47, ../sass/helpers/_basic.scss */
h2 {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 1.3;
}
@media (max-width: 992px) {
  /* line 47, ../sass/helpers/_basic.scss */
  h2 {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  /* line 47, ../sass/helpers/_basic.scss */
  h2 {
    padding: 0;
    font-size: 12px;
  }
}

/* line 65, ../sass/helpers/_basic.scss */
.modal .modal-header {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 555px) {
  /* line 65, ../sass/helpers/_basic.scss */
  .modal .modal-header {
    padding: 15px;
  }
}
/* line 73, ../sass/helpers/_basic.scss */
.modal .modal-header h6 {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
/* line 80, ../sass/helpers/_basic.scss */
.modal .modal-header h6 span {
  color: #b5c21c;
}
@media (max-width: 767px) {
  /* line 73, ../sass/helpers/_basic.scss */
  .modal .modal-header h6 {
    font-size: 20px;
  }
}
@media (max-width: 555px) {
  /* line 73, ../sass/helpers/_basic.scss */
  .modal .modal-header h6 {
    display: grid;
  }
}
/* line 92, ../sass/helpers/_basic.scss */
.modal .modal-header .close {
  font-family: initial;
  float: right;
  font-size: 50px;
  font-weight: 100;
  opacity: 1;
  text-shadow: none;
  margin-top: -10px;
  margin-right: 15px;
}
@media (max-width: 555px) {
  /* line 92, ../sass/helpers/_basic.scss */
  .modal .modal-header .close {
    font-size: 30px;
    margin-top: 0px;
    margin-right: 0px;
  }
}
/* line 108, ../sass/helpers/_basic.scss */
.modal .modal-header .secondary-modal {
  font-family: initial;
  float: right;
  font-size: 50px;
  font-weight: 100;
  opacity: 1;
  text-shadow: none;
  margin-top: -10px;
  margin-right: 15px;
}
@media (max-width: 555px) {
  /* line 108, ../sass/helpers/_basic.scss */
  .modal .modal-header .secondary-modal {
    font-size: 30px;
    margin-top: -35px;
    margin-right: 0px;
  }
}
/* line 126, ../sass/helpers/_basic.scss */
.modal .large {
  padding: 35px;
}
@media (max-width: 555px) {
  /* line 126, ../sass/helpers/_basic.scss */
  .modal .large {
    padding: 15px;
  }
}
/* line 132, ../sass/helpers/_basic.scss */
.modal .modal-content {
  box-shadow: none;
  border: 0px;
  border-radius: 0;
}
/* line 139, ../sass/helpers/_basic.scss */
.modal .modal-dialog {
  height: 80% !important;
  padding-top: 10%;
}
@media (max-width: 767px) {
  /* line 139, ../sass/helpers/_basic.scss */
  .modal .modal-dialog {
    height: 100% !important;
    padding-top: 30%;
  }
}
@media (max-width: 555px) {
  /* line 139, ../sass/helpers/_basic.scss */
  .modal .modal-dialog {
    height: auto !important;
    padding-top: 10%;
  }
}
/* line 150, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-content {
  height: 100% !important;
  overflow: visible;
}
@media (max-width: 767px) {
  /* line 150, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-content {
    height: 70% !important;
  }
}
@media (max-width: 555px) {
  /* line 150, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-content {
    height: auto !important;
  }
}
/* line 162, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body {
  height: 80%;
  overflow: auto;
}
@media (max-width: 767px) {
  /* line 162, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body {
    overflow: visible;
    height: auto;
  }
}
/* line 171, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .modal-img {
  position: absolute;
  right: 40px;
  top: 50px;
}
@media (max-width: 767px) {
  /* line 171, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body .modal-img {
    top: 0;
  }
}
@media (max-width: 555px) {
  /* line 171, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body .modal-img {
    position: relative;
    right: 0;
    top: 0;
  }
}
/* line 185, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 767px) {
  /* line 185, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body .content-players {
    justify-content: center;
  }
}
/* line 196, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players .player {
  padding: 13px;
  text-align: center;
}
/* line 199, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players .player .avatar {
  border: 3px solid #b5c21c;
  overflow: hidden;
  border-radius: 150px;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
/* line 208, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players .player .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* line 216, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players .player .player-name {
  padding: 5px 0;
}
/* line 218, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body .content-players .player .player-name p {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
/* line 232, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body p {
  font-size: 20px;
  color: #030303;
  line-height: 1.5;
  padding: 20px;
}
/* line 238, ../sass/helpers/_basic.scss */
.modal .modal-dialog .modal-body p span {
  color: #b5c21c;
  font-weight: 600;
}
@media (max-width: 767px) {
  /* line 232, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body p {
    padding: 10px;
    font-size: 18px;
  }
}
@media (max-width: 555px) {
  /* line 232, ../sass/helpers/_basic.scss */
  .modal .modal-dialog .modal-body p {
    font-size: 20px;
  }
}
/* line 255, ../sass/helpers/_basic.scss */
.modal .modal-footer {
  text-align: center;
  border-top: 0;
  margin-top: -100px;
}
@media (max-width: 767px) {
  /* line 255, ../sass/helpers/_basic.scss */
  .modal .modal-footer {
    margin-top: 50px;
  }
}
@media (max-width: 555px) {
  /* line 255, ../sass/helpers/_basic.scss */
  .modal .modal-footer {
    padding-bottom: 50px;
    margin-top: 0;
  }
}

/* line 273, ../sass/helpers/_basic.scss */
.modal-tabs {
  padding-left: 15px;
  border-bottom: 0px;
}
@media (max-width: 555px) {
  /* line 273, ../sass/helpers/_basic.scss */
  .modal-tabs {
    padding-left: 0px;
  }
}
/* line 284, ../sass/helpers/_basic.scss */
.modal-tabs li a {
  color: #888888;
  background-color: transparent;
  border: 0px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
/* line 292, ../sass/helpers/_basic.scss */
.modal-tabs li a:after {
  content: '';
  width: 0%;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
@media (max-width: 767px) {
  /* line 284, ../sass/helpers/_basic.scss */
  .modal-tabs li a {
    padding: 10px 4px;
    font-size: 11px;
  }
}
@media (max-width: 555px) {
  /* line 284, ../sass/helpers/_basic.scss */
  .modal-tabs li a {
    padding: 10px 1px;
    font-size: 9px;
  }
}
/* line 306, ../sass/helpers/_basic.scss */
.modal-tabs li a:hover {
  color: #000;
  background-color: transparent !important;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
/* line 310, ../sass/helpers/_basic.scss */
.modal-tabs li a:hover:after {
  content: '';
  background-color: #b5c21c;
  height: 3px;
  display: block;
  width: 83%;
  position: absolute;
  bottom: -17px;
  left: 10px;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
@media (max-width: 767px) {
  /* line 310, ../sass/helpers/_basic.scss */
  .modal-tabs li a:hover:after {
    width: 95%;
    left: 0;
  }
}
@media (max-width: 767px) {
  /* line 306, ../sass/helpers/_basic.scss */
  .modal-tabs li a:hover {
    color: #b5c21c;
  }
}
/* line 330, ../sass/helpers/_basic.scss */
.modal-tabs li a:focus {
  outline: none;
  background-color: transparent;
}
/* line 338, ../sass/helpers/_basic.scss */
.modal-tabs .active {
  color: #000;
  background-color: transparent !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  border: 0px !important;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
/* line 339, ../sass/helpers/_basic.scss */
.modal-tabs .active a {
  background-color: transparent !important;
}
@media (max-width: 767px) {
  /* line 338, ../sass/helpers/_basic.scss */
  .modal-tabs .active {
    color: #b5c21c !important;
  }
}
/* line 352, ../sass/helpers/_basic.scss */
.modal-tabs .active:after {
  content: '';
  background-color: #b5c21c;
  height: 3px;
  display: block;
  width: 83%;
  position: absolute;
  bottom: -17px;
  left: 10px;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
@media (max-width: 767px) {
  /* line 352, ../sass/helpers/_basic.scss */
  .modal-tabs .active:after {
    width: 95%;
    left: 0;
  }
}

/* Buttons */
/* line 4, ../sass/components/_buttons.scss */
.btn {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 24px;
  background-color: #b5c21c;
  border: 1px solid #b5c21c;
  border-radius: 60px;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  outline: none !important;
}
/* line 17, ../sass/components/_buttons.scss */
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  box-shadow: none !important;
}

/* line 25, ../sass/components/_buttons.scss */
.btn-share {
  background-color: #2d2f32;
  border: 1px solid #2d2f32;
  border-radius: 50px;
  padding: 8px 30px;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
}
/* line 38, ../sass/components/_buttons.scss */
.btn-share:hover {
  color: #b5c21c;
  background-color: transparent;
  border: 1px solid #b5c21c;
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) 0.2s;
  text-decoration: none;
}
/* line 46, ../sass/components/_buttons.scss */
.btn-share:before {
  content: "\f3ac";
  font-family: "Ionicons";
  font-size: 23px;
  color: #b5c21c;
  margin-right: 10px;
}

/* line 3, ../sass/components/_loader.scss */
.loader {
  background: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 14, ../sass/components/_loader.scss */
.loader svg {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* line 21, ../sass/components/_loader.scss */
.loader #spinner {
  box-sizing: border-box;
  stroke: #b5c21c;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
/* line 89, ../sass/components/_loader.scss */
.loader-after {
  display: none;
  z-index: -999;
  opacity: 0;
}

/* -----------------------------
main
/------------------------------*/
/* Header & Footer Styles idem site */
/* line 8, ../sass/modules/_home.scss */
header {
  padding: 15px 0;
  background-color: #222221;
}
/* line 12, ../sass/modules/_home.scss */
header .container-fluid {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 18, ../sass/modules/_home.scss */
header .container-fluid img {
  width: 80px;
}
/* line 21, ../sass/modules/_home.scss */
header .container-fluid a {
  text-decoration: none;
}
/* line 23, ../sass/modules/_home.scss */
header .container-fluid a:hover {
  text-decoration: none;
}
/* line 27, ../sass/modules/_home.scss */
header .container-fluid a span {
  color: inherit;
}
/* line 32, ../sass/modules/_home.scss */
header .container-fluid p {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

/* line 43, ../sass/modules/_home.scss */
#sns_footer_bottom {
  padding: 10px;
  background-color: #222221;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}
/* line 52, ../sass/modules/_home.scss */
#sns_footer_bottom .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  /* line 52, ../sass/modules/_home.scss */
  #sns_footer_bottom .container-fluid {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 60, ../sass/modules/_home.scss */
  #sns_footer_bottom .container-fluid .sns-copyright {
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  /* line 67, ../sass/modules/_home.scss */
  #sns_footer_bottom .container-fluid .block-owner {
    text-align: center;
  }
}

/* Header & Footer Styles idem site */
/* line 80, ../sass/modules/_home.scss */
.header-bg {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
}
/* line 87, ../sass/modules/_home.scss */
.header-bg .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* line 99, ../sass/modules/_home.scss */
.breadcrumb-nav {
  padding: 30px 0;
}
/* line 101, ../sass/modules/_home.scss */
.breadcrumb-nav .breadcrumb {
  background-color: white;
}
/* line 104, ../sass/modules/_home.scss */
.breadcrumb-nav .breadcrumb a {
  color: #8b8b8b;
}
/* line 107, ../sass/modules/_home.scss */
.breadcrumb-nav .breadcrumb .active {
  color: #222221;
}
@media (max-width: 767px) {
  /* line 99, ../sass/modules/_home.scss */
  .breadcrumb-nav {
    padding: 0px;
  }
}

/* line 115, ../sass/modules/_home.scss */
.esquema {
  text-align: center;
  background-color: white;
}
/* line 119, ../sass/modules/_home.scss */
.esquema p {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px 0;
}
/* line 126, ../sass/modules/_home.scss */
.esquema .field-container {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* line 132, ../sass/modules/_home.scss */
.esquema .field-container img {
  width: 100%;
}
/* line 136, ../sass/modules/_home.scss */
.esquema .nav-pills {
  display: inline-flex;
  padding-top: 20px;
}
/* line 140, ../sass/modules/_home.scss */
.esquema .nav-pills li {
  float: none;
}
/* line 143, ../sass/modules/_home.scss */
.esquema .nav-pills li a {
  border-radius: 0px;
  background-color: #2d2f32;
  color: #b5c21c;
  padding: 10px 50px;
  margin: 0 5px;
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 143, ../sass/modules/_home.scss */
  .esquema .nav-pills li a {
    margin: 0px;
    font-size: 10px;
    padding: 10px 45px;
  }
}
@media (max-width: 555px) {
  /* line 143, ../sass/modules/_home.scss */
  .esquema .nav-pills li a {
    padding: 10px 17px;
    margin: 0px;
    font-size: 10px;
  }
}
/* line 162, ../sass/modules/_home.scss */
.esquema .nav-pills li a:before {
  content: "\f3fd";
  font-family: "Ionicons";
  font-size: 25px;
  padding: 10px;
  color: white;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 15%;
  background-color: white;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
@media (max-width: 555px) {
  /* line 162, ../sass/modules/_home.scss */
  .esquema .nav-pills li a:before {
    font-size: 19px;
    padding: 8px;
    position: relative;
    top: 2px;
    left: 17px;
    background-color: white;
    border-radius: 150px;
  }
}
/* line 192, ../sass/modules/_home.scss */
.esquema .nav-pills li a:hover {
  color: #2d2f32;
  background-color: #b5c21c;
}
/* line 198, ../sass/modules/_home.scss */
.esquema .nav-pills li a:focus {
  color: #2d2f32;
  background-color: #b5c21c;
  outline: none;
}
/* line 206, ../sass/modules/_home.scss */
.esquema .nav-pills li:focus {
  outline: none;
}
/* line 212, ../sass/modules/_home.scss */
.esquema .nav-pills li:nth-of-type(1) {
  padding-left: 2px;
}
/* line 217, ../sass/modules/_home.scss */
.esquema .nav-pills .active a {
  color: #2d2f32;
  background-color: #b5c21c;
}
/* line 220, ../sass/modules/_home.scss */
.esquema .nav-pills .active a:before {
  color: white;
  background-color: #2d2f32;
}

/* line 230, ../sass/modules/_home.scss */
.legal-terms {
  padding: 30px 0;
  text-align: center;
}
/* line 234, ../sass/modules/_home.scss */
.legal-terms .items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 555px) {
  /* line 234, ../sass/modules/_home.scss */
  .legal-terms .items {
    display: block;
  }
}
/* line 242, ../sass/modules/_home.scss */
.legal-terms a {
  font-size: 14px;
  color: #8b8b8b;
  text-decoration: none;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid #8b8b8b;
}
@media (max-width: 555px) {
  /* line 242, ../sass/modules/_home.scss */
  .legal-terms a {
    margin: 0 5px;
  }
}
/* line 256, ../sass/modules/_home.scss */
.legal-terms a:nth-last-of-type(1) {
  border-bottom: 0px;
}
/* line 260, ../sass/modules/_home.scss */
.legal-terms .awards {
  padding: 13px;
  text-align: center;
}
/* line 264, ../sass/modules/_home.scss */
.legal-terms .awards .pic {
  overflow: hidden;
  border-radius: 150px;
  width: 70px;
  height: 70px;
  background-color: #eaeaea;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
/* line 274, ../sass/modules/_home.scss */
.legal-terms .awards .pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* line 282, ../sass/modules/_home.scss */
.legal-terms .awards .award-name {
  padding: 5px 0;
}
/* line 284, ../sass/modules/_home.scss */
.legal-terms .awards .award-name p {
  font-size: 14px;
  color: #8b8b8b;
  text-decoration: none !important;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}
