/* -----------------------------
main
/------------------------------*/


/* Header & Footer Styles idem site */

	header {
		padding: 15px 0;
		background-color: #222221;

		.container-fluid{
			padding: 0 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img{
				width: 80px;
			}
			a{
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}

				span {
					color: inherit;
				}
			}

			p{
				margin: 0;
				color: white;
				font-weight: 400;
				font-size: 14px;
				font-family: 'Oswald', sans-serif;
			}

		}
	}

	#sns_footer_bottom{
		padding: 10px;
		background-color: #222221;
		display:block;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 12px;
		
		.container-fluid{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include breakpoint (xs) {
				display: block;
			}

			.sns-copyright {
				@include breakpoint (xs) {
					text-align: center;
					padding: 20px;
				}
			}
	
			.block-owner {
				@include breakpoint (xs) {
					text-align: center;
				}
			}

		}
	
	}

/* Header & Footer Styles idem site */


.header-bg {
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	position: relative;

	.container {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		@include center();

	}

}


.breadcrumb-nav {
	padding: 30px 0;
	.breadcrumb {
		background-color: white;

		a {
			color: $nav-font-color;
		}
		.active {
			color: $nav-active-color;
		}
	}
	@include breakpoint (xs) {
		padding: 0px;
	}
}
.esquema {
	text-align: center;
	background-color: white;

	p {
		font-size: 18px;
		letter-spacing: 1px;
		padding: 20px 0;

	}

	.field-container {
		text-align: center;
		padding:20px 0;
		margin:0 auto;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
	}
	.nav-pills {
		display: inline-flex;
		padding-top: 20px;

		@include breakpoint (xs) {
			display: inline-block;
			padding-top:0px;
		}

		li {

			float: none;
			a {
				border-radius:0px;
				background-color: #2d2f32;
				color: $brand-color;
				padding: 10px 50px;
				margin: 0 5px;
				font-size: 14px;

				@include breakpoint (xs) {
					width: 180px;
					margin: 5px;
				}
				
				&:before {
					content: "\f3fd";
					font-family: "Ionicons";
					font-size: 25px;
					padding: 10px;
					color: white;
					position: absolute;
					width: 0;
					height: 0;
					top: 50%;
					left: 15%;
					background-color:white;
					border-radius: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
				}

				&:hover {
					color:#2d2f32;
					background-color: $brand-color;
					
				}
				
				&:focus {
					color:#2d2f32;
					background-color: $brand-color;
					outline: none;
					
				}
			}

			&:focus {
				outline: none;
			}

		}

		li:nth-of-type(1) {
			padding-left: 2px;
		}
		
		.active {
			a {
				color:$brand-secondary-color;
				background-color: $brand-color;
				&:before {
					color: white;
					background-color: $brand-secondary-color;
				}

			}
		}
	}
}


.legal-terms {
	padding: 30px 0;
	text-align: center;

	.items {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@include breakpoint (xxs) {
			display: block;
		}
	}
	a {
		font-size: 14px;
		color:#8b8b8b;
		text-decoration: none;
		line-height: 1.5;
		cursor: pointer;
		font-weight:500;
		letter-spacing: 1px;
		border-bottom:2px solid #8b8b8b;
		@include breakpoint (xxs) {
			margin:0 5px;
		}
	}

	a:nth-last-of-type(1) {
		border-bottom: 0px;
	}
			
	.awards {
		padding: 13px;
		text-align: center;

		.pic {
			overflow: hidden;
			border-radius: 150px;
			width: 70px;
			height: 70px;
			background-color: #eaeaea;
			position: relative;
			text-align: center;
    		margin: 0 auto;

			img {
				position: absolute;
				top:50%;
				left:50%;
				margin: 0 auto;
				@include center();
			}
		}
		.award-name {
			padding: 5px 0;
			p {
				font-size: 14px;
				color:#8b8b8b;
				text-decoration: none!important;
				line-height: 1.5;
				letter-spacing: 1px;
				text-align: center;

			}
		}
	}
}
