body {
	font-family: 'Oswald', sans-serif;
	line-height: 1;
}

p {
	font-family: 'Oswald', sans-serif;
	color: #8b8b8b;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;

	@include breakpoint (xs) {
		text-align: left;
		font-size: 14px;
	}

	span {
		color:#8b8b8b;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	span {
		font-weight: 600;
	}
}


h1 {
	color:white;
	font-size: 30px;
	font-weight: 400;
    letter-spacing: 1px;
	line-height: 1.1;
	text-transform: uppercase;

	@include breakpoint (xs) {
		font-size: 18px;
	}
	span {
		color:$brand-color;
	}
}

h2 {
	font-size: 16px;
	font-weight: 300;
	color: white;
    line-height: 1.3;
	@include breakpoint (sm) {
		padding:15px 0;
	}
	@include breakpoint (xs) {
		padding:0;
		font-size: 12px;
	}
}




.modal {
	.modal-header {
		padding:15px 0 0 0;
		border-bottom: 0px;

		@include breakpoint (xxs) {
			padding: 15px;
		}

		.close {
			font-family: initial;
			float: right;
			font-size: 50px;
			font-weight: 100;
			opacity: 1;
			text-shadow: none;
			margin-top: -10px;
			margin-right: 15px;
		}

	}
	.modal-content {
		box-shadow: none;
		border: 0px;
		border-radius: 0;
	}
	.modal-body {
		.content-players {
			display: flex;
			align-items: center;
			justify-content: space-around;

			@include breakpoint (xs) {
				display: grid;
			}

			.player {
				padding: 13px;
				text-align: center;
				.avatar {
					border: 4px solid $brand-color;
					overflow: hidden;
					border-radius: 150px;
					width: 70px;
					height: 70px;

					img {
						width: 100%;
					}
				}
				.player-name {
					padding: 5px 0;
					p {
						color: #000;
						font-size: 14px;
						text-transform: uppercase;
						letter-spacing: 1px;
						text-align: center;
	
					}
				}
			}

		}

		
		h6 {
			font-size: 16px;
			color:#000;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 15px;
			border-bottom: 1px solid $brand-color;
		}

		p {
			font-size: 14px;
			color:#000;
			letter-spacing: 1px;
			padding: 15px;
		}
	}

}

// Modal Tabs
	
.modal-tabs {
	padding-left: 15px;

	@include breakpoint (xs) {
		padding-left:0px;
	}

	li {

		@include breakpoint (xs) {
			width: 100%;
			text-align: center;
			margin-bottom: 0px;
		}

		a {
			color: #888888;
			background-color: #fff!important;
			border: 0px!important;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			@include transition();
			&:after {
				content:'';
				width: 0%;
				@include transition();
			}

			&:hover {
				color: #000;
				@include transition();
				&:after {
					content:'';
					background-color: $brand-color;
					height: 3px;
					display: block;
					width: 83%;
					position: absolute;
					bottom: -2px;
					left: 10px;
					@include transition();
					@include breakpoint (xs) {
						width: 0px;
					}
				}
				
				@include breakpoint (xs) {
					color: $brand-color;
				}
			}
			&:focus {
				outline: none;
				background-color: transparent;
	
			}
		}
		
	}
	.active {
		color: #000;
		background-color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		border: 0px!important;
		@include transition();
		@include breakpoint (xs) {
			color: $brand-color!important;
		}
		&:after {
			content:'';
			background-color: $brand-color;
			height: 3px;
			display: block;
			width: 83%;
			position: absolute;
			bottom: -2px;
			left: 10px;
			@include transition();
			@include breakpoint (xs) {
				width: 0px;
			}
		}
	}
}