// BREAKPOINTS

@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}

@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: 555px) { @content; }
  }

  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 992px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 1200px) { @content; }
  }

  @else if $class == lg {
    @media (max-width: 1440px) { @content; }
  }

  @else if $class == xlg {
    @media (min-width: 1441px) { @content; }
  }
}
// CENTER BLOCK


@mixin center(){
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin centerY(){
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@mixin centerX(){
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

// TRANSITION

// TRANSITION

@mixin transition(){
  transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) .2s;
  -webkit-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) .2s;
  -moz-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) .2s;
  -ms-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) .2s;
  -o-transition: cubic-bezier(0.54, 0.35, 0.34, 0.82) .2s;
}