$brand-color: #b5c21c;
$brand-secondary-color: #2d2f32;

$nav-font-color:#8b8b8b; 
$nav-active-color: #222221;;
// Transition
$transition-type: cubic-bezier(0.54, 0.35, 0.34, 0.82);
$transition-time: .20s;
