/* Buttons */


.btn {
    font-size:14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 24px;
    background-color: $brand-color;
    border:1px solid $brand-color;
    border-radius:60px;
   @include transition();
    outline: none!important;
    &:active,
    &.active {
    &:focus,
    &.focus {
      box-shadow: none!important;
    }

  }
}

.btn-share {
    float: right;
    background-color: $brand-secondary-color;
    width: 60px;
    height: 60px;
    border-radius: 150px;
    margin:8px;
    position: relative;

    i {
        font-size: 30px;
        color: $brand-color;
        position: absolute;
        top:50%;
        left:50%;
        @include center();

        @include breakpoint (sm){
            font-size: 20px;
    
        }
    }

    @include breakpoint (sm){
        height: 50px;
        width: 50px;
        margin:10px;

    }
    @include breakpoint (xs) {
        position: absolute;
        right: 5px;
        top: 0;
    }
}